<!doctype html>

<html>
<head>
	<title>SlyStyles</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/header.css" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href="/css/slystyles.css" rel="stylesheet">
</head>

<body style="padding-top:70px">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>

	<nav class="navbar-inverse navbar-default navbar-fixed-top" role="navigation" id="top">
		<div class="container" >
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/frontpage">SlyStyles</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->

			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<table class="wider ">
					<tr >
						<td class="leftBar">
							<img class="smaller" src={{user.imageURL}}></img>
						</td>
						<td>
							<ul class="nav navbar-nav navbar-right"  id="dropdown" >
								<li>
									<a href="/profile" target="_self"><i class="fa fa-user"></i>&nbsp; {{user.name}}</a>
								</li>
								<li>
									<a href="/settings" target="_self"><i class="fa fa-gears"></i>&nbsp; Settings</a>
								</li>
								<li>
									<a href="/logout" target="_self"><i class="fa fa-power-off"></i>&nbsp; Logout</a>
								</li>
							</ul>
						</td>
					</tr>
				</table>
			</div><!-- /.navbar-collapse -->
		</div>
	</nav>


	<!-- Container for rest feed/list of items  -->
	<div class="container">
		<div class="designer-item">
			<div class="designer-item-title">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th class="brand">{{designerItem.brand}}</th>
								<th></th> <!-- this is to keep line weight uniform -->
							</tr>
							<tr>
								<td class="item-name">{{designerItem.name}}</td>
								<td class="price">{{designerItem.price}}</td>
							</tr>
						</thead>
					</table>
				</div>
			</div>
			<div class="thumbnail designer-thumbnail">
				<a href="#"><img src="{{designerItem.image}}" alt="foo1" class="img-responsive"></a>
				<div class="caption">
					<h3>Thumbnail label</h3>
					<p>{{designerItem.description}}</p>
					<p><i class="fa fa-heart"> {{designerItem.likes}}</i></p>
					<p>
						<a href="/dlike/{{designerItem.id}}" class="btn btn-primary" role="button">Like</a>
					</p>
				</div>
			</div>
		</div>

		<div class="alternative-item-list">
			<!-- title for section -->
			<div class="input-group">
				<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Upload New Alternative</button>
				{{#if designerItem.buylink}}	
					<a href="{{designerItem.buylink}}" class="btn btn-primary" role="button">Buy</a>
				{{/if}}
			</div>

			<p>
			</p>

			<!-- alternative item list header bar
			should have filters -->
			<div class="button-bar">
				<p>Sort by: 
					<a href="#" class="btn btn-default" role="button">Likes</a>
					<a href="#" class="btn btn-default" role="button">$$$ - $</a>
					<a href="#" class="btn btn-default" role="button">$ - $$$</a>
				</p>
			</div>

			<!-- the actual list of items
			start of grid -->
			<div class="alternative-item-grid">
				{{#each alts}}
				<div class="row">
					<div class="col-xs-6">
						<div class="thumbnail">
							<a href="/designerItem/{{../designerItem._id}}/altItem/{{_id}}"><img src="{{image}}" alt="foo1" class="img-responsive"></a>
							<div class="caption">
								<a href="/designerItem/{{../designerItem._id}}/altItem/{{_id}}">
									<h3>{{name}}</h3>
									<p/>
									<h5>by {{brand}}</h5>
								</a>
								<p>{{description}}</p>
								<p>
									<a href="#" class="btn btn-primary" role="button">Like</a>
								</p>
							</div>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Upload File</h4>
				</div>
				<div class="modal-body hideInput">
					<div class = "form-group">
						<form action="/designerItem/{{designerItem._id}}/addAltForDesignerItem" enctype="multipart/form-data" method="post">
						Brand:	
						<input type="text" class="upload-form form-control" id="brand" name="brand"> <br>
						Name: 
						<input type="text" class="upload-form form-control" id="name" name="name"> <br>
						Price:	
						<input type="text" class="upload-form form-control" id="price" name="price"> <br>
						Description: 
						<input type="text" class="upload-form form-control" id="description" name="description"> <br>
						Image URL:	
						<input type="text" class="upload-form form-control" id="imageURL" name="imageURL"> <br>
						Style (e.g. Dress): 
						<input type="text" class="upload-form form-control" id="style" name="style"> <br>
						<input type="submit" class="upload-form form-control" value="Upload">
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>

	
</body>

</html>
