<!doctype html>

<html>
<head>
	<!-- Google Analytics Content Experiment code -->
<script>/*function utmx_section(){}function utmx(){}(function(){var
k='83001577-0',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();*/
</script>
<script>/*utmx('url','A/B');*/</script>
<!-- End of Google Analytics Content Experiment code -->

<title>SlyStyles</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/css/header.css" rel="stylesheet">
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link href="/css/slystyles.css" rel="stylesheet">
<link href="/css/fonts.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>

</head>

<body style="padding-top: 50px">

	{{#if navbarLikes}}
	<nav class="navbar navbar-default navbar-fixed-top navbar-inner" role="navigation" id="top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-toggle">
					<a href="/profileExp"><i class="fa fa-heart fa-2x liked"></i></a>
				</div>
				<a class="navbar-brand" href="/frontpage">FASHIONCENTS</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->

			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<table class="wider ">
					<tr>
						<td class="leftBar">
							<img class="smaller" src={{user.imageURL}}></img>
						</td>
						<td>
							<ul class="nav navbar-nav navbar-right"  id="dropdown" >
								<li>
									<a href="/profileBase" target="_self"><i class="fa fa-user"></i>&nbsp; {{user.name}}</a>
								</li>
								<li>
									<a href="/logout" target="_self"><i class="fa fa-power-off"></i>&nbsp; LOGOUT</a>
								</li>
							</ul>
						</td>
					</tr>
				</table>
			</div><!-- /.navbar-collapse -->
		</div>
	</nav>
	{{else}}
	<nav class="navbar navbar-inverse navbar-fixed-top navbar-inner" role="navigation" id="top">
		<div class="container-fluid" >
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand t-head" href="/frontpage"><i class="fa fa-angle-left red"></i> FASHIONCENTS</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->

			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<table class="wider ">
					<tr>
						<td class="leftBar">
							<img class="smaller" src={{user.imageURL}}></img>
						</td>
						<td>
							<ul class="nav navbar-nav navbar-right"  id="dropdown" >
								<li>
									<a href="/profileBase" target="_self" class="t-head front-like"><i class="fa fa-angle-left red"></i>&nbsp; {{user.name}}</a>
								</li>
								<li>
									<a href="/settings" target="_self" class="t-nav front-like"><i class="fa fa-angle-left red"></i>&nbsp; SETTINGS</a>
								</li>
								<li>
									<a href="/logout" target="_self" class="t-head front-like"><i class="fa fa-angle-left red"></i>&nbsp; LOGOUT</a>
								</li>
							</ul>
						</td>
					</tr>
				</table>
			</div><!-- /.navbar-collapse -->
		</div>
	</nav>
	{{/if}}


	<!-- Container for rest feed/list of items  -->
	<div class="container">
		<br>
		<h2 class="italic check">now viewing... </h2><h2 class="check">ORIGINALS</h2>
		<h1></h1>
		<div class="row">
			<div class="col-xs-7">
				<form action="/frontPage/search" method="get" class ="linear">
					<div class="input-group">
						<input type="text" id="searchTextBox" placeholder="SEARCH" class="form-control" name="searchText"></input>
						<span class="input-group-btn">
							<button class="btn btn-default" id="searchBtn" type="button">GO</button>
						</span>
					</div>
				</form>	
			</div><!-- /.col-xs-9 -->
			<div class="col-xs-2">
				<div class="input-group">
					<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">   UPLOAD  </button>
				</div>
			</div><!-- /.col-xs-3 -->
		</div>
		<br>

		{{#if noItems}}
		<h4>No Items Match That Search</h4>
		{{else}}
		{{#each designerItems}}
		<div class="designer-item-feed item-div" id="{{_id}}">
			<div class="row">
				<div class="col-xs-12">
					<div class="designer-thumbnail thumbnail">
						<a href="/designerItem/{{_id}}"><img src="{{image}}" alt="foo1" class="img-responsive"></a>
						<div class="caption">
							<table class='front-table'>
								<tr>
									<td>
										<a href="/designerItem/{{_id}}"><h4>{{name}}</h4><p/><h5>by {{brand}}</h5></a>
									</td>
									<td class='front-like'>

										{{#if liked}}
										<p>
											<a href="#" class="unlikeable" id="{{_id}}"><i class="fa fa-heart fa-2x liked"> </i></a>
											<h4>{{likes}}</h4>
										</p>
										{{else}}
										<p>
											<a href="#" class="likeable" id="{{_id}}"><i class="fa fa-heart fa-2x unliked"> </i></a>
											<h4>{{likes}}</h4>
										</p>
										{{/if}}
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{/each}}
		{{/if}}
	</div>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">upload new original</h4>
				</div>
				<div class="modal-body hideInput">
					<div class = "form-group">
						<form action="/addDesignerItem" enctype="multipart/form-data" method="post" id="newitem">
							BRAND:	
							<div class="input-group">
								<input type="text" class="upload-form form-control" id="brand" name="brand"> <br>
								<span class="input-group-addon validator wrong"><i class="fa fa-exclamation"></i></span>
							</div>
							ITEM DESCRIPTION: 
							<div class="input-group">
								<input type="text" class="upload-form form-control" id="name" name="name"> <br>
								<span class="input-group-addon validator wrong"><i class="fa fa-exclamation"></i></span>
							</div>
							PRICE:	
							<div class="input-group">
								<input type="text" class="upload-form form-control" id="price" name="price"> <br>
								<span class="input-group-addon validator wrong"><i class="fa fa-exclamation"></i></span>
							</div>
							IMAGE URL:
							<div class="input-group">	
								<input type="text" class="upload-form form-control" id="imageURL" name="imageURL"> <br>
								<span class="input-group-addon validator wrong"><i class="fa fa-exclamation"></i></span>
							</div>
							TAGS:	
							<div class="input-group">
								<input type="text" class="upload-form form-control" id="tags" name="tags"> <br>
							</div>
							<br>
							<input type="submit" class="upload-form form-control" value="UPLOAD">
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>



	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/frontPage.js"></script>
	<script src="/js/jquery.validate.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<script src="/js/formValidator.js"></script>
	<script src="/js/ajaxlikes.js"></script>
	
	<script>
	/*(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		//production version
		ga('create', 'UA-48670740-1', 'slystyles.herokuapp.com');
		//testing version
		//ga('create', 'UA-48670740-1', { 'cookieDomain': 'none'});

		ga('send', 'pageview');
		*/
		</script>


	</body>

	</html>