<!doctype html>

<html>
<head>
	<title>SlyStyles</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/header.css" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href="/css/slystyles.css" rel="stylesheet">
	<link href="/css/profile.css" rel="stylesheet">
	<link href="/css/fonts.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

</head>

<body style="padding-top:70px">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/experiment.js"></script>

	<nav class="navbar navbar-inverse navbar-default navbar-fixed-top navbar-inner" role="navigation" id="top">
		<div class="container" >
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand t-head" href="/frontpage"><i class="fa fa-angle-left red"></i> FASHIONCENTS</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->

			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<table class="wider ">
					<tr >
						<td class="leftBar">
							<img class="smaller" src={{user.imageURL}}></img>
						</td>
						<td>
							<ul class="nav navbar-nav navbar-right"  id="dropdown" >
								<li>
									<a href="/profile" target="_self" class="t-head front-like"><i class="fa fa-angle-left red"></i>&nbsp;  {{user.name}}</a>
								</li>
								<li>
									<a href="/logout" target="_self" class="t-head front-like"><i class="fa fa-angle-left red"></i>&nbsp; LOGOUT</a>
								</li>
							</ul>
						</td>
					</tr>
				</table>
			</div><!-- /.navbar-collapse -->
		</div>
	</nav>

	<div class="container">
		<div class="alternative-item">
			<div class="alternative-item-title">
				<div class="playfair" >
					<center><h4 class="italic check playfair">now viewing... </h4><h4 class="check playfair">YOUR PROFILE</h4>
						<h3 class="blacklato">{{user.name}}</h3>
					</center>
					
				</div>


			</div>
			<div class="thumbnail designer-thumbnail">
				<a href="#"><img src="{{user.imageURL}}" alt="foo1" class="img-responsive"></a>
				<div class="caption caption-profile">

					{{description}}
				</div>
			</div>
		</div>

		<div class="col-xs-6">
			<h4 class="blackplayfair"> likes </h4>
			{{#each mydlikes}}
			<div class="row">


				<div class="designer-thumbnail thumbnail">
					<a href="designerItem/{{_id}}"><img src="{{image}}" alt="foo1" class="img-responsive"></a>
					<div class="caption">
						<table class="front-table">
							<tr>
								<td>
									<a href="designerItem/{{_id}}"><h5 class="item-name">{{name}}</h5>
										<h5 class="item-brand">by {{brand}}</h5>
										<h5 class="item-price">${{price}}</h5></a>
									</td>
									<td class="front-like">
										<a href="/dunlike/{{_id}}"><i class="fa fa-heart fa-2x liked"> </i></a><h5>{{likes}}</h5>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				{{/each}}
				{{#each myalikes}}
				<div class="row">
					<div class="designer-thumbnail thumbnail">
						<a href="designerItem/{{designerMatch}}/altItem/{{_id}}"><img src="{{image}}" alt="foo1" class="img-responsive"></a>
						<div class="caption">
							<table class="front-table">
								<tr>
									<td>
										<a href="designerItem/{{designerMatch}}/altItem/{_id}"><h5 class="item-name">{{name}}</h5>
											<h5 class="item-brand">by {{brand}}</h5>
											<h5 class="item-price">${{price}}</h5></a>
										</td>
										<td class="front-like">
											<p>
												<a href="/aunlike/{{_id}}"><i class="fa fa-heart fa-2x liked"> </i></a><h5>{{likes}}</h5>
											</p>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					{{/each}}
				</div>

				<div class="col-xs-6">
					<h4 class="blackplayfair"> uploads </h4>
					{{#each mydContributions}}
					<div class="row">
						<div class="designer-thumbnail thumbnail">
							

							<a href="designerItem/{{_id}}"><img src="{{image}}" alt="foo1" class="img-responsive"></a>
							<div class="caption">
								<table class="front-table">
									<tr>
										<td>
											<a href="designerItem/{{_id}}"><h5 class="item-name">{{name}}</h5>
												<h5 class="item-brand">by {{brand}}</h5>
												<h5 class="item-price">${{price}}</h5></a>
											</td>
											<td class="front-like">
												{{#if liked}}
												<p>
													<p>
														<a href="/dunlike/{{_id}}"><i class="fa fa-heart fa-2x liked"> </i></a><h5>{{likes}}</h5>
													</p>
													<p>
														{{else}}
														<a href="/dlike/{{_id}}"><i class="fa fa-heart fa-2x unliked"> </i></a><h5>{{likes}}</h5>
													</p>
													{{/if}}
												</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
							{{/each}}
							{{#each myaContributions}}
							<div class="row">
								<div class="designer-thumbnail thumbnail">
									<a href="designerItem/{{designerMatch}}/altItem/{{_id}}"><img src="{{image}}" alt="foo1" class="img-responsive"></a>
									<div class="caption">
										<table class="front-table">
											<tr>
												<td>
													<a href="designerItem/{{designerMatch}}/altItem/{_id}"><h5 class="item-name">{{name}}</h5>
														<h5 class="item-brand">by {{brand}}</h5>
														<h5 class="item-price">${{price}}</h5></a>
													</td>
													<td class="front-like">
														{{#if liked}}
														<p>
															<a href="/aunlike/{{_id}}"><i class="fa fa-heart fa-2x liked"> </i></a><h5>{{likes}}</h5>
														</p>
														<p>
															{{else}}
															<a href="/alike/{{_id}}"><i class="fa fa-heart fa-2x unliked"> </i></a><h5>{{likes}}</h5>
														</p>
														{{/if}}
													</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
								{{/each}}
							</div>

						</div>
















						<script>
		/*(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		//production version
		ga('create', 'UA-48670740-1', 'slystyles.herokuapp.com');
		//testing version
		//ga('create', 'UA-48670740-1', { 'cookieDomain': 'none'});
		
		ga('send', 'pageview');*/
		</script>

	</body>

	</html>
