<!doctype html>

<html>
<head>
	<title>SlyStyles</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/header.css" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href="/css/slystyles.css" rel="stylesheet">
	<link href="/css/profile.css" rel="stylesheet">
</head>

<body style="padding-top:70px">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>

	<nav class="navbar-inverse navbar-default navbar-fixed-top" role="navigation" id="top">
		<div class="container" >
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/frontpage">FASHIONCENTS</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->

			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<table class="wider ">
					<tr >
						<td class="leftBar">
							<img class="smaller" src={{user.imageURL}}></img>
						</td>
						<td>
							<ul class="nav navbar-nav navbar-right"  id="dropdown" >
								<li>
									<a href="/profile" target="_self"><i class="fa fa-user"></i>&nbsp; {{user.name}}</a>
								</li>
								<li>
									<a href="/settings" target="_self"><i class="fa fa-gears"></i>&nbsp; Settings</a>
								</li>
								<li>
									<a href="/logout" target="_self"><i class="fa fa-power-off"></i>&nbsp; Logout</a>
								</li>
							</ul>
						</td>
					</tr>
				</table>
			</div><!-- /.navbar-collapse -->
		</div>
	</nav>

	<div class = "container rel">
		<div class = "personal">
			<table class="wider">
				<tr >
					<td>
						<img class="profilePic" src = "{{user.imageURL}}"></img>
					</td>
					<td>
						<ul class="nav navbar-nav navbar-right"  id="dropdown" >
							<li>
								<h3>{{user.name}}</h3>
							</li>
							<li>
								I am a fashion junkie. 
							</li>

						</ul>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<hr>
	<div class = "container icons">
		<table class ="middleItems">
			<tr>
				<td>
					<p><a href="/profile"><i class="non-selected fa fa-heart fa-5x"></i></a></p>
					Likes
				</td>
				<td>
					<p><a href="/profilecon"><i class="fa fa-thumbs-up fa-5x"></i></a></p> Contributions
				</td>
			</tr>
		</table>
	</div>
	<hr>

	<div>
		Designer Contributions
		{{#each mydContributions}}
		<div class="row">
				
			<div class="col-xs-6">
				<div class="designer-thumbnail thumbnail">
					<a href="designerItem/{{_id}}"><img src="{{image}}" alt="foo1" class="img-responsive"></a>
					<div class="caption">
						<a href="designerItem/{{_id}}"><h3>{{name}}</h3><p/><h4>by {{brand}}</h4></a>
						<p>{{description}}</p>
						{{#if liked}}
							<p>
								<a href="/dunlike/{{_id}}"><i class="fa fa-heart fa-2x liked"> </i></a>{{likes}}
							</p>
							{{else}}
							<a href="/dlike/{{_id}}"><i class="fa fa-heart fa-2x unliked"> </i></a>{{likes}}
							</p>
							{{/if}}	
					</div>
				</div>
			</div>

		</div>
		{{/each}}
			
	</div>
	<hr>
	Alternative Contributions
	{{#each myaContributions}}
		<div class="row">
				
			<div class="col-xs-6">
				<div class="designer-thumbnail thumbnail">
					<a href="designerItem/{{_id}}"><img src="{{image}}" alt="foo1" class="img-responsive"></a>
					<div class="caption">
						<a href="designerItem/{{_id}}"><h3>{{name}}</h3><p/><h4>by {{brand}}</h4></a>
						<p>{{description}}</p>
						<p><i class="fa fa-heart"> {{likes}}</i></p>
						{{#if liked}}
							<p>
								<a href="/aunlike/{{_id}}"><i class="fa fa-heart fa-2x liked"> </i></a>{{likes}}
							</p>
							{{else}}
							<a href="/alike/{{_id}}"><i class="fa fa-heart fa-2x unliked"> </i></a>{{likes}}
							</p>
							{{/if}}
					</div>
				</div>
			</div>

		</div>
		{{/each}}

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		//production version
		ga('create', 'UA-48670740-1', 'slystyles.herokuapp.com');
		//testing version
		//ga('create', 'UA-48670740-1', { 'cookieDomain': 'none'});
		
		ga('send', 'pageview');
	</script>
	
</body>

</html>
